.movies-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 364px);
  grid-template-rows: 271px;
  gap: 30px 24px;
  margin: 70px auto 0;
  width: 100%;
  justify-content: center;
}

.movies-list__dont {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .movies-list {
    grid-template-columns: repeat(auto-fill, 341px);
    gap: 22px 24px;
  }
}

@media screen and (max-width: 345px) {
  .movies-list {
    grid-template-columns: repeat(auto-fill, 300px);
    grid-template-rows: 245px;
    gap: 16px;
    margin-top: 40px;
  }
}
