.nav-header {
  padding: 18px 70px 18px 70px;
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.logo {
  width: 38px;
  height: 38px;
}

.nav-header__links {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-header__link {
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.5s;
  margin-right: 20px;
}

.nav-header__link:last-of-type {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  margin: 0;
  border: 2px solid #AAAAAA;
  width: 100px;
  height: 32px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  margin: 0 0 0 30px;
}

.nav-header__link:hover {
  opacity: 0.7;
}

.nav-header__icon {
  width: 12px;
  height: 14px;
  margin: 9px 10px 9px 12px;
}

.nav-header__link-text {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  margin: 0;
}

/* .navigation-header__link-text:first-of-type {
  margin-right: 20px;
} */

.header__button {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  align-items: center;
  color: #000000;
  width: 76px;
  height: 32px;
  background-color: #3DDC84;
  border-radius: 3px;
  cursor: pointer;
  border: none;
}

.nav-header__burger {
  display: none;
  background-color: #202020;
  margin: -8px 0 0 0;
  border: none;
  cursor: pointer;
}

.nav-header__burger-span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: #fff;
  font-size: 0;
  color: transparent;
  position: relative;
  margin: 7px auto;
}

.nav-header__burger-span:before,
.nav-header__burger-span:after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  left: 0;
  z-index: 1;
}

.nav-header__burger-span:before {
  top: -8px;
}

.nav-header__burger-span:after {
  bottom: -8px;
}

@media screen and (max-width: 768px) {
  .logo {
    width: 43px;
    height: 47px;
  }

  .nav-header {
    padding: 18px 33px 18px 28px;
  }

  .nav-header__links {
    display: none;
  }

  .nav-header__link:first-of-type {
    margin: 0 50px 0 0;
  }

  .nav-header__burger {
    display: block;
  }

}

@media screen and (max-width: 410px) {
  .nav-header {
    padding: 18px 20px 18px 20px;
  }

  .header__button {
    width: 54px;
    height: 26px;
    font-size: 10px;
  }

  .nav-header__link-text {
    font-size: 10px;
  }
}

@media screen and (max-width: 320px) {
  .nav-header {
    padding: 18px 16px 18px 16px;
  }
}
