.search {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  border-bottom: 1px solid #424242;
  width: 100%;
}

.search__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 65px auto 70px;
  width: 100%;
  background: #222222;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.08);
  border-radius: 9px;
}

.search__form {
  display: flex;
  align-items: center;
  border-right: 1px solid #505050;
  height: 40px;
  margin: 19px 29px 19px;
  padding-right: 19px;
  width: 90vw;
  justify-content: space-between;
}

.search__icon {
  color: #959595;
  width: 22px;
  height: 22px;
}

.search__button {
  background: url(../../images/icon_search.svg) no-repeat #4285F4 center;
  border-radius: 48px;
  width: 80px;
  height: 34px;
  border: none;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.5s;
}

.search__button:hover {
  opacity: .5;
}

.search__switch {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search__toggle[type="checkbox"] {
  position: relative;
  width: 36px;
  height: 20px;
  -webkit-appearance: none;
  outline: none;
  background: #c6c6c6;
  border-radius: 20px;
  transition: .5s;
  box-shadow: inset 0 0 5px rgba(0,0,0,.2);
}

.search__toggle:checked[type="checkbox"] {
  background: #3DDC84
}

.search__toggle[type="checkbox"]:before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  margin: 2px;
  border-radius: 20px;
  top: 0;
  left: 0;
  background: #fff;
  transition: .5s;
  transform: scale(1.1);
  box-shadow: 0 2px 5px rgba(0,0,0,.2);
}

.search__toggle:checked[type="checkbox"]:before {
  left: 16px;
}

.search__text {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #FFFFFF;
  margin: 0 30px 0 14px;
}


.search__icon {
  position: relative;
}

.search__icon::before {
  content: '';
  color: #8B8B8B;
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 0;
  left: -5px;
  top: 50%;
  transform: translateY(-50%);
}

.search__icon .search__input {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  padding-left: 36px;
  background-color: #222222;
  border: none;
  color: #8B8B8B;
  width: 27vw;
}

/* email значок */
.search__icon_loupe::before {
  content: url("../../images/icon_searchV2.svg");
}

@media screen  and (max-width: 768px) {
  .search__content {
    margin: 65px auto 71px;
  }

  .search__content {
    margin: 65px auto 109px;
  }

  .search__text {
    margin: 0 20px 0 14px;
  }

  .search__form {
    margin: 22px 19px 19px;
  }

  .search__icon::before {
    left: 5px;
  }

  .search__icon .search__input {
    padding-left: 45px;
  }
}

@media screen and (max-width: 320px) {
  .search__content {
    flex-direction: column;
    background-color: #202020;
    margin-bottom: 44px;
  }

  .search__form {
    background-color: #222222;
    border: none;
    padding: 19px;
    margin: 0;
    width: 89%;
    box-shadow: 0 3px 14px rgba(0, 0, 0, 0.08);
    border-radius: 9px;
    /*box-shadow: 0 3px 14px rgba(0, 0, 0, 0.08);*/
    /*border-radius: 9px;*/
  }

  .search__input {
    /*margin-left: 19px;*/
  }

  .search__button {
    /*margin: 19px;*/
  }

  .search__icon .search__input {
    font-size: 14px;
    padding: 0;
    /*margin-left: 19px;*/
  }

  .search__icon::before {
    display: none;
  }

  .search__switch {
    margin-top: 45px;
  }

  .search__text {
    font-size: 11px;
    margin: 0 0 0 13px;
  }
}
