.search {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  border-bottom: 1px solid #424242;
  width: 100%;
}

.search__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 65px auto 70px;
  width: 100%;
  background: #222222;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.08);
  border-radius: 9px;
}

.search__form {
  display: flex;
  align-items: center;
  border-right: 1px solid #505050;
  height: 40px;
  margin: 19px 29px 19px;
  padding-right: 19px;
  width: 90vw;
  justify-content: space-between;
}

.search__icon {
  color: #959595;
  width: 22px;
  height: 22px;
}

/*.search__input {*/
/*  background-color: #222222;*/
/*  border: none;*/
/*  margin: 0 0 0 19px;*/
/*  height: 34px;*/
/*  !*border: 1px solid #3DDC84;*!*/
/*}*/

.search__button {
  background: url(../../images/icon_search.svg) no-repeat #4285F4 center;
  border-radius: 48px;
  width: 80px;
  height: 34px;
  border: none;
  /*margin: 19px 0 19px 10px;*/
}

.search__switch {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search__toggle[type="checkbox"] {
  position: relative;
  width: 36px;
  height: 20px;
  -webkit-appearance: none;
  outline: none;
  background: #c6c6c6;
  border-radius: 20px;
  transition: .5s;
  box-shadow: inset 0 0 5px rgba(0,0,0,.2);
}

.search__toggle:checked[type="checkbox"] {
  background: #3DDC84
}

.search__toggle[type="checkbox"]:before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  margin: 2px;
  border-radius: 20px;
  top: 0;
  left: 0;
  background: #fff;
  transition: .5s;
  transform: scale(1.1);
  box-shadow: 0 2px 5px rgba(0,0,0,.2);
}

.search__toggle:checked[type="checkbox"]:before {
  left: 16px;
}

.search__text {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #FFFFFF;
  margin: 0 30px 0 14px;
}


.search__icon {
  position: relative;
}

.search__icon::before {
  content: '';
  color: #8B8B8B;
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 0;
  left: -5px;
  top: 50%;
  transform: translateY(-50%);
}

.search__icon .search__input {
  padding-left: 36px;
  background-color: #222222;
  border: none;
  color: #8B8B8B;
  width: 27vw;
}

/* email значок */
.search__icon_loupe::before {
  content: url("../../images/icon_searchV2.svg");
}

/* иконка лупы */
/*.text-field__icon_search::before {*/
/*  width: 16px;*/
/*  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23bdbdbd' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E");*/
/*  background-repeat: no-repeat;*/
/*  background-position: center;*/
/*}*/
