.navTab {
  display: block;
  width: 308px;
  margin-bottom: 30px;
}

.navTab__links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.navTab__item {
  opacity: 1;
  transition: opacity 0.5s;
  width: 96px;
  height: 36px;
  background-color: #303030;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navTab__item:hover {
  opacity: 0.7;
}

.navTab__link {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 450px) {
  .navTab {
    width: 258px;
    margin-bottom: 17px;
  }

  .navTab__item {
    font-size: 10px;
    width: 82px;
    height: 26px;
    border-radius: 6px;
  }
}
